body {
	font-family: 'Acme', sans-serif;
}
#header-nav {
  background-color: silver;
  border-radius: 0;
  border-style: solid;
  border-color: #000;
}

.navbar-brand h1 {
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	font-size: 1.4em;
	color: #000;
}
.collapsable-nav span {
	text-align: center;
}

.row h2 {
	text-align: center;
}

.row .col-xs-12 {
	background-color: silver;
	margin: 15px 15px 15px 15px;
}

.col-xs-12 p {
	font-size: 1.6em;
	padding: 4px;
}

@media (min-width: 768px) {
  #one {
    display: none;
  }

  #two {
    display: none;
  }

  #three {
    display: none;
  }
}